%h1 New entry
= form_for @entry, url: confirm_entries_path do |f|
  - if @entry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@entry.errors.count, "error")} prohibited this entry from being saved:"
      %ul
        - @entry.errors.full_messages.each do |message|
          %li= message

  .field
    = f.radio_button :radbtn, "未登録", name: "radbtn", class: "radbox"
    未登録
    = f.radio_button :radbtn, "登録済", name: "radbtn", class: "radbox"
    登録済

  .field
    = f.label :name
    = f.text_area :name
  .field#emailbox
    = f.label :email
    = f.text_field :email
  .field#agebox
    = f.label :age
    = f.number_field :age
  .field#telbox
    = f.label :tel
    = f.text_field :tel
  .field
    = f.label :wdwe
    = f.number_field :wdwe
  .field
    = f.label :agenda
    = f.date_field :agenda
  .field
    = f.label :agreement
    = f.check_box :agreement
  .actions
    = f.submit 'Confirm'


